<!--<link rel="stylesheet" href="css.css" type="text/css" /> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
      <header>
        <h1> New Link </h1>
      </header>
    <form action='/links' method='POST'>
        <label for='title'>
            Title:
            <input type='text' name='title' />
        </label>
        <label for='url'>
            URL:
            <input type='text' name='url' />
        </label>
        <input type='submit' value='Create link'>
    </form>
  </body>
</html>